*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: general sans;

}

html,body{
    width: 100%;
    height: 100%;
    background-color: black;
}

#minicircle{
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: #fff;
}

.bounding{
    width: fit-content;
    overflow: hidden;
}

.bounding .boundingelem{
    transform: translateY(100%);
}

#main{
    scroll-behavior: smooth;
    width: 100%;
    background-color: black;
}

#hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 20px;
} 

#nav a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}

#heading{
    margin-top: 90px;
}

#heading h1{
    margin-left: 30px;
    opacity: .6;    
    line-height: 1;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;
}

.sech1{
padding-left: 30px;
}


#heading h5{
    text-align: right;
    text-transform: uppercase;
}

.donoh{
    width: fit-content;
    display: flex;
    flex-direction:column;
    align-items: end;
}

#chotiheadings{
    display: flex;
    flex-direction:column;
    align-items: end;
    margin-top: 50px;
    margin-right: 10px;
    text-transform: uppercase;
    
}


#herofooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 3%;
    width: 100%;
}

#herofooter a{
    color:white;
    text-transform: uppercase;
    text-decoration: none;
}

#herofooter #icons{
    display: flex;
    gap: 10px;
}

#herofooter .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width:  20px;
    height: 20px;
    border-radius:  50%;
    background-color:  #888;
}

#second{
    background-color: black;
    padding-right: 7.5vw;
    padding-left: 7.5vw;
    padding-top: 200px;
    color: white;
    width: 100%;
    height: 128vh;
}

.elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15vw;
    padding-right: 0;
    padding-left: 35px;
    border-top: 1px solid #888;
}

.elem h1{
    text-transform: uppercase;
    font-size:  7.6vw;
    opacity: 0.7;
}

.elemlast{
    border-bottom: 1px solid #888;
}

.elem img{
    z-index: 999;
    position: absolute;
    height: 200px; 
    opacity: 0;
    pointer-events: none;
    will-change: transform;
    transition: transform 0.1s ease;
}

#third{
    background-color: black;
    position: relative;
    display: flex;
    height: 100vh;
    padding-top: 200px;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 20vw 5vw;
    padding-left: 42vw;
}

.myimg{
    position: absolute;
    display: flex;
    gap: 30px;
}

.myimg img {
    border: 1px solid white;
    border-radius: 40%;
    background-color: black;
}



#textab{
    width: 25rem;
}

#textab h5{
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 10px;
}


#textab p{
    line-height: 1.7;
    margin-bottom: 30px;
}


#textab button{
    padding: 12px 25px;
    border: 1px solid ;
    border-radius: 100px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    background-color: black;
}


#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: black;
    color: white;
}

#footerleft{
    display: flex;
    gap: 20px;
}

#footer a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

#footerright{
    display: flex;
    gap: 30px;
}


